<div class="content">

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div class="auth" *ngIf="!isLoading">
        <h3 class="bold">Iniciar Sesión</h3>
        <hr>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" [disabled]="form.invalid || isLoading" class="w-100" mat-raised-button
                color="primary">Entrar</button>
        </form>
        <br>
        <a [routerLink]="['/singup/']">Regístrate aqui !</a>
    </div>

</div>